:root  {
    --vtc-current-color: blue;
    --vtc-current-focus-color: blue;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tableContainer {
    margin: 20px;
    flex-grow: 1;
    position: relative;
    border-color: aqua;
    border-width: 1px;
    border-style: solid;
}

.hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: lightgray;
        background-color: #2f2f2f; 
    }
}

