:root .blue {
    --vtc-current-color: lightblue;
    --vtc-current-focus-color: blue;
}

@media (prefers-color-scheme: dark) {
    :root .blue {
        --vtc-current-color: rgb(29, 29, 46);
        --vtc-current-focus-color: rgb(132, 132, 252);
        --vtc-scrollbar-grip-active-color: var(--vtc-current-focus-color);
    }
}
